html {
   height: 100%;
}

body{
	color: $primary-blue;
	position: relative;
	padding-bottom: 100px;
	min-height: 100%;
}

.title-box{
	margin: 100px 0 100px 0;
}

.paddingb-50{
	padding-bottom: 50px;
}

.top-bar{
	border-bottom: 1px solid $primary-blue;

	.top-bar-title{
		.menu-icon.dark::after{
			background: $primary-blue;
    		box-shadow: 0 7px 0 $primary-blue, 0 14px 0 $primary-blue;
		}
	}

	.top-bar-left{
		background: none;

		a{
			color: $primary-blue;		
		}
		li:hover{
			border-bottom: 1px solid $primary-blue;
		}
		li.active{
			border-bottom: 1px solid $primary-blue;	
		}
	}
}

	strong.logo{
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: $primary-blue;

		span{
			background-color: $primary-blue;
			color: $white;
			padding: 5px;
			margin-right: 5px;
		}
	}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  text-align: center;
  border-top: 1px solid $primary-blue;
  height: 100px;

	  img{
	  	max-height: 50px;
	  }

	  strong{
	  	margin: 0 10px 0 10px;
	  	margin-top: 1.5rem;
	  	margin-bottom: 1.5rem;
	  }

	  small{
	  	font-size: 60%;
	  	color: $primary-blue;
	  	@media screen and (min-width: 500px) {
	  		line-height: 50px;
		}
	  }
}

#content{

	.content-box{
		padding-bottom: 50px;
		padding-top: 50px;
	  	@media screen and (max-width: 640px) {
	  		padding-bottom: 25px; 
	  		padding-top: 25px;
		}
		.img-circle {
    		border-radius: 50%;
    		max-height: 200px;
		}
	}
}

#course-list{

	.accordion{

		.accordion-item{

			.accordion-title{
				font-size: 1.5rem;
				color: $primary-blue;
				border: none;
				&:hover, &:focus{
					background-color: #ebf2ff;
				}
				&:active{
					background-color: #ebf2ff;
				}
			}
			.accordion-content{
				color: $primary-blue;
				border: none;

				.row{
					/*padding-left: 1rem;
					padding-right: 1rem;*/
				}
				i{
					font-size:2.0rem;
				}
				.misc-info{
					div{
						&:first-child p{
							margin-top: 10px; 
							margin-left: 10px;
						}
						p i{
							margin-left: 10px;
						}
					}
					div p span{
						margin-right: 10px;
						padding: 5px;
						background-color: $primary-blue;
						color: $white;	
					}
				}
			}
		}
	}
}

.period{
	padding: 5px;
	margin: 10px;
	background-color: $primary-blue;
	color: $white;
}