html {
   height: 100%;
}

body{
	color: $primary-blue;
	position: relative;
	padding-bottom: 100px;
	min-height: 100%;
}

.title-box{
	margin: 100px 0 100px 0;
}

.paddingb-50{
	padding-bottom: 50px;
}

.margin-10{
	margin: 10px;
}

.top-bar{
	border-bottom: 1px solid $primary-blue;

	.top-bar-title{
		.menu-icon.dark::after{
			background: $primary-blue;
    		box-shadow: 0 7px 0 $primary-blue, 0 14px 0 $primary-blue;
		}
	}

	.top-bar-left{
		background: none;

		a{
			color: $primary-blue;		
		}
		li:hover{
			border-bottom: 1px solid $primary-blue;
		}
		li.active{
			border-bottom: 1px solid $primary-blue;	
		}
	}
}

	strong.logo{
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: $primary-blue;

		span{
			background-color: $primary-blue;
			color: $white;
			padding: 5px;
			margin-right: 5px;
		}
	}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  text-align: center;
  border-top: 1px solid $primary-blue;
  height: 100px;

	  img{
	  	max-height: 50px;
	  }

	  strong{
	  	margin: 0 10px 0 10px;
	  	margin-top: 1.5rem;
	  	margin-bottom: 1.5rem;
	  }

	  small{
	  	font-size: 60%;
	  	color: $primary-blue;
	  	@media screen and (min-width: 500px) {
	  		line-height: 50px;
		}
	  }
}

#content{

	.content-box{
		padding-bottom: 50px;
		padding-top: 50px;
	  	@media screen and (max-width: 640px) {
	  		padding-bottom: 25px; 
	  		padding-top: 25px;
		}
		.img-circle {
    		border-radius: 50%;
    		max-height: 200px;
		}
	}
}

#course-list{

	.accordion{

		.accordion-item{
				a{
					background-color: #fefefe;
					color: $primary-blue;
				}
				&.selected{
					.accordion-title{
						font-size: 1.5rem;
						background-color: $primary-blue;
						color: #fefefe;
						border: none;
						&:hover, &:hover:focus{
							//background-color: #ebf2ff;
							background: $primary-blue;
							color: #fefefe;
							border-bottom: none;
						}
						&:active, &:focus{
							//background-color: #ebf2ff;
							background: $primary-blue;
							color: #fefefe;
							border-bottom: none;
						}
					}
				}
			.accordion-title{
				font-size: 1.5rem;
				color: $primary-blue;
				border: none;
				&:hover, &:hover:focus{
					//background-color: #ebf2ff;
					background: none;
					border-bottom: 1px solid $primary-blue;
				}
				&:active, &:focus{
					//background-color: #ebf2ff;
					background: none;
					border: none;
					//border-bottom: 1px solid $primary-blue;
				}
			}
			.accordion-content{
				color: $primary-blue;
				border: none;

				.row{
					/*padding-left: 1rem;
					padding-right: 1rem;*/
				}
				i{
					font-size:2.0rem;
				}
				.misc-info{
					div{
						&:first-child p{
							margin-top: 10px; 
							margin-left: 10px;
						}
						p img{
							margin-left: 10px;
						}
						.switch{
						    //margin: 10px;	
						}
					}
					div p span{
						margin-right: 10px;
						padding: 5px;
						background-color: $primary-blue;
						color: $white;	
					}
					label.switch-paddle{
    					margin-left: 10px;
					    margin-top: 5px;
					}
					.reg-box img{
						float: left;
						margin-left: 10px;
					}
				}
			}
		}
	}
}
input:checked ~ .switch-paddle {
    background: $primary-blue;
}
button[type="button"]{
	background-color: $primary-blue;

	&:hover{
		background-color: #fefefe;
		color: $primary-blue;
		border: 1px solid $primary-blue;
	}
	 &:focus{
	 	background-color: $primary-blue;
	 	color: #fefefe;
	 }
	 &:focus:hover{
		background-color: #fefefe;
		color: $primary-blue;
		border: 1px solid $primary-blue;
	 }
}
.reveal{
	color: $primary-blue;

	h2{
		border-bottom: 1px solid $primary-blue;
	}
	label{
		color: $primary-blue;
	}
	button.close-button{
		background: none;
		color: $primary-blue;

		&:hover{
			border: none;
		}
	}
	input{
		border: 1px solid $primary-blue;
		&.empty{
			border: 2px solid red;
		}
	}
}